.light table {
 	width: 100%;
    padding: 17px;
    position: relative;
 }
 .left {
    text-align: left;    
 }
 .right {
    text-align: right;    
 }
 .center {
    text-align: center;    
 }
.light table td,th {
    padding: 14px 10px;
    border-bottom: solid 1px #ccc;
 } 
.light div{
    border: 1px solid #e9e9e9;
    padding: 20px 30px;
    font-family: sans-serif;
 } 
 .light header{
	padding: 10px 45px;
    background-color: #ddefdd;
 }
